<div>
	<h3 class="address-company">TASIVA VISION S.L.</h3>
	<p>–</p>
	<p>
		Polígono Industrial Noáin – Esquíroz<br/>Calle O Nº 2 P3-08<br/>31110
											        Noáin / Navarra<br/><a class="footer-a" href="mailto:info@tasiva.com" target="_blank" rel="noopener noreferrer">info@tasiva.com</a>
		·
		<a href="tel:948316506" target="_blank" rel="noopener noreferrer" class="footer-a">T. 948 316 506</a>
	</p>
</div>
