<div>
  <div>
    <h3 class="address-company">TASIVA VISION S.L.</h3>
    <p>–</p>
    <p>
      Polígono Industrial Noáin – Esquíroz<br />Calle O Nº 2 P3-08<br />31110
      Noáin / Navarra<br />
      ·
      <a
        href="tel:948316506"
        target="_blank"
        rel="noopener noreferrer"
        class="footer-a"
        >T. 948 316 506</a
      >
    </p>
  </div>
  <p>–</p>
  <div>
    <p>
      <a
        href="/aviso-legal"
        style="font-size: 16px;"
        class="footer-a"
        >Aviso Legal</a
      >
    </p>
    <p>
      <a href="/politica-de-privacidad-y-proteccion-de-datos" class="footer-a"
        >Política de privacidad&nbsp; y protección de datos</a
      >
    </p>
  </div>
</div>
