<div style="width: 100%;">
  <a style="text-decoration: none;color: #666666;" href={{href}} class="d-flex">
    <img width="75" height="75" src={{image}} alt="Noticia Blog"/>
    <div class="error-title-news">{{ titulo }}</div>
  </a>
  <div style="width: 100% !important;" class="error-description-news">{{descripcion}}</div>
</div>