<div class="address">
	<div class="container d-flex justify-content-between">
		{% include "./Common/address.twig" %}

		<div class="text-center" style="width: 200px">
			<p>
				<img loading="lazy" class="wp-image-412 alignnone size-full aligncenter" src="https://tasiva.com/wp-content/uploads/2023/02/foto.jpg" alt="" width="200" height="100"/>
			</p>
			<p>
				<span style="color: #ffffff">
					Esta empresa ha recibido una ayuda cofinanciada al 40% por el Fondo Europeo de Desarrollo Regional a través del Programa Operativo FEDER 2021-2027 de Navarra
				</span>
			</p>
		</div>
	</div>
</div>
