<div class="address">
	<div class="container d-flex justify-content-between">
		{% include "./Common/address.twig" %}

		<div>
			<p style="text-align: right">
				<a href="/aviso-legal" style="font-size: 16px; text-align: right" class="footer-a">Aviso Legal</a>
			</p>
			<p style="text-align: right">
				<a href="/politica-de-privacidad-y-proteccion-de-datos" class="footer-a">Política de privacidad&nbsp; y protección de datos</a>
			</p>
		</div>
	</div>
</div>