@import url("./header.css");
@import url("./footer.css");

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.full-height {
    min-height: 100vh !important;
}

.error404 {
    color: #5EA3CE;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-top: 50px;
}

.error-msg {
    font-size: 16px;
    color: #666666;
}

.error-sidebar {
    padding-top: 50px;
    border-left: 1px solid rgba(0, 0, 0, .1);
}

.error-news-section {
    margin-bottom: 50px;
}

.error-titulo-noticias {
    color: #5EA3CE;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.news-list {
    list-style: none;
}

.address-company {
    color: #5EA3CE;
    font-size: 18px;
    font-weight: bold;
}

.error-title-news {
    font-size: 18px;
    margin-left: 7.5px;
}

.error-description-news {
    color: #666666;
    font-size: 16px;
    overflow-wrap: break-word;
}